@import "modal";
h1{
    font-size:3rem;
    color:#c30232
}
.App{
    margin:0 auto;
    text-align:center;
    background-color: rgb(202, 202, 202);
    min-width:320px;
    max-width:640px;
    height: 100vh;
}
.timer{
    font-size:4rem;
    color:rgb(244, 244, 244);
    &__button{
        border-radius:50%;
        padding:1rem;
    }
    &__button:hover{
        background-color: #c30232; 
    }
}